read.json
[{"id":"tab_ipstc_read","type":"tab","label":"IPSTC_NewMC_Read","disabled":false,"info":"","env":[]},{"id":"inject_timestamp","type":"inject","z":"tab_ipstc_read","name":"timestamp 30s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["fn_build_batch"]]},{"id":"fn_build_batch","type":"function","z":"tab_ipstc_read","name":"Build Batch Requests","func":"const machines = [\n    { id: \"MC01\", ip: \"host.docker.internal\" }\n];\n\nconst readBatches = [\n    { group: \"UP_PV_01_04\",   start: 3010, count: 4, names: [\"UP_PV_01\",\"UP_PV_02\",\"UP_PV_03\",\"UP_PV_04\"] },\n    { group: \"UP_PV_05_08\",   start: 3160, count: 4, names: [\"UP_PV_05\",\"UP_PV_06\",\"UP_PV_07\",\"UP_PV_08\"] },\n    { group: \"DOWN_PV_01_04\", start: 3310, count: 4, names: [\"DOWN_PV_01\",\"DOWN_PV_02\",\"DOWN_PV_03\",\"DOWN_PV_04\"] },\n    { group: \"DOWN_PV_05_08\", start: 3460, count: 4, names: [\"DOWN_PV_05\",\"DOWN_PV_06\",\"DOWN_PV_07\",\"DOWN_PV_08\"] },\n    { group: \"UP_SPEED_PV\",   start: 5790, count: 1, names: [\"UP_SPEED_PV\"] },\n    { group: \"DOWN_SPEED_PV\", start: 5780, count: 1, names: [\"DOWN_SPEED_PV\"] },\n    { group: \"UP_SV_01\",      start: 6101, count: 1, names: [\"UP_SV_01\"] },\n    { group: \"UP_SV_02\",      start: 6201, count: 1, names: [\"UP_SV_02\"] },\n    { group: \"UP_SV_03\",      start: 6301, count: 1, names: [\"UP_SV_03\"] },\n    { group: \"UP_SV_04\",      start: 6401, count: 1, names: [\"UP_SV_04\"] },\n    { group: \"UP_SV_05\",      start: 6501, count: 1, names: [\"UP_SV_05\"] },\n    { group: \"UP_SV_06\",      start: 6601, count: 1, names: [\"UP_SV_06\"] },\n    { group: \"UP_SV_07\",      start: 6701, count: 1, names: [\"UP_SV_07\"] },\n    { group: \"UP_SV_08\",      start: 6801, count: 1, names: [\"UP_SV_08\"] },\n    { group: \"DOWN_SV_01\",    start: 6901, count: 1, names: [\"DOWN_SV_01\"] },\n    { group: \"DOWN_SV_02\",    start: 7001, count: 1, names: [\"DOWN_SV_02\"] },\n    { group: \"DOWN_SV_03\",    start: 7101, count: 1, names: [\"DOWN_SV_03\"] },\n    { group: \"DOWN_SV_04\",    start: 7201, count: 1, names: [\"DOWN_SV_04\"] },\n    { group: \"DOWN_SV_05\",    start: 7301, count: 1, names: [\"DOWN_SV_05\"] },\n    { group: \"DOWN_SV_06\",    start: 7401, count: 1, names: [\"DOWN_SV_06\"] },\n    { group: \"DOWN_SV_07\",    start: 7501, count: 1, names: [\"DOWN_SV_07\"] },\n    { group: \"DOWN_SV_08\",    start: 7601, count: 1, names: [\"DOWN_SV_08\"] },\n    { group: \"UP_SPEED_SV\",   start: 7800, count: 1, names: [\"UP_SPEED_SV\"] },\n    { group: \"DOWN_SPEED_SV\", start: 7700, count: 1, names: [\"DOWN_SPEED_SV\"] }\n];\n\nfor (const mc of machines) {\n    for (const batch of readBatches) {\n        node.send({\n            payload: {\n                fc: 3,\n                unitid: 1,\n                address: batch.start,\n                quantity: batch.count\n            },\n            modbusHost: mc.ip,\n            modbusPort: 502,\n            machineId: mc.id,\n            batchGroup: batch.group,\n            batchNames: batch.names\n        });\n    }\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["delay_rate"]]},{"id":"delay_rate","type":"delay","z":"tab_ipstc_read","name":"5 msg/s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":160,"wires":[["modbus_flex_getter"]]},{"id":"modbus_flex_getter","type":"modbus-flex-getter","z":"tab_ipstc_read","name":"Modbus Flex Getter","showStatusActivities":false,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"modbus_client_localhost","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":750,"y":160,"wires":[["fn_parse_scale"],["debug_modbus_error"]]},{"id":"fn_parse_scale","type":"function","z":"tab_ipstc_read","name":"Parse & Scale","func":"const rawValues = msg.payload;\nconst names     = msg.batchNames;\nconst machineId = msg.machineId;\n\nif (!names || !Array.isArray(names)) {\n    node.warn(\"MC \" + (machineId || \"Unknown\") + \": batchNames tidak ditemukan (Metadata hilang).\");\n    return null;\n}\n\nif (!Array.isArray(rawValues)) {\n    node.warn(\"MC \" + (machineId || \"Unknown\") + \": Payload dari Modbus bukan array.\");\n    return null;\n}\n\nfunction toInt16(val) {\n    return val > 32767 ? val - 65536 : val;\n}\n\nconst result = {};\nfor (let i = 0; i < names.length; i++) {\n    const raw = rawValues[i];\n    if (raw === undefined || raw === null) continue;\n    result[names[i]] = parseFloat((toInt16(raw) / 10).toFixed(1));\n}\n\nconst currentData = {\n    machineId: machineId,\n    group:     msg.batchGroup,\n    data:      result,\n    ts:        new Date().toISOString()\n};\n\nlet machineStore = flow.get(\"machines_data\") || {};\nif (!machineStore[machineId]) {\n    machineStore[machineId] = {};\n}\nmachineStore[machineId] = Object.assign(machineStore[machineId], result);\nmachineStore[machineId].last_update = currentData.ts;\nflow.set(\"machines_data\", machineStore);\n\nmsg.payload = currentData;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":160,"wires":[["debug_parse_result"]]},{"id":"debug_parse_result","type":"debug","z":"tab_ipstc_read","name":"Hasil Parse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":160,"wires":[]},{"id":"debug_modbus_error","type":"debug","z":"tab_ipstc_read","name":"Modbus Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":240,"wires":[]},{"id":"inject_check_store","type":"inject","z":"tab_ipstc_read","name":"Cek machines_data","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":300,"wires":[["debug_store_jsonata"]]},{"id":"debug_store_jsonata","type":"debug","z":"tab_ipstc_read","name":"Isi machines_data (Format)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\n   \"=== UP PV ===\": {\n       \"UP_PV_01\": $flowContext('machines_data').MC01.UP_PV_01,\n       \"UP_PV_02\": $flowContext('machines_data').MC01.UP_PV_02,\n       \"UP_PV_03\": $flowContext('machines_data').MC01.UP_PV_03,\n       \"UP_PV_04\": $flowContext('machines_data').MC01.UP_PV_04,\n       \"UP_PV_05\": $flowContext('machines_data').MC01.UP_PV_05,\n       \"UP_PV_06\": $flowContext('machines_data').MC01.UP_PV_06,\n       \"UP_PV_07\": $flowContext('machines_data').MC01.UP_PV_07,\n       \"UP_PV_08\": $flowContext('machines_data').MC01.UP_PV_08\n   },\n   \"=== DOWN PV ===\": {\n       \"DOWN_PV_01\": $flowContext('machines_data').MC01.DOWN_PV_01,\n       \"DOWN_PV_02\": $flowContext('machines_data').MC01.DOWN_PV_02,\n       \"DOWN_PV_03\": $flowContext('machines_data').MC01.DOWN_PV_03,\n       \"DOWN_PV_04\": $flowContext('machines_data').MC01.DOWN_PV_04,\n       \"DOWN_PV_05\": $flowContext('machines_data').MC01.DOWN_PV_05,\n       \"DOWN_PV_06\": $flowContext('machines_data').MC01.DOWN_PV_06,\n       \"DOWN_PV_07\": $flowContext('machines_data').MC01.DOWN_PV_07,\n       \"DOWN_PV_08\": $flowContext('machines_data').MC01.DOWN_PV_08\n   },\n   \"=== UP SV ===\": {\n       \"UP_SV_01\": $flowContext('machines_data').MC01.UP_SV_01,\n       \"UP_SV_02\": $flowContext('machines_data').MC01.UP_SV_02,\n       \"UP_SV_03\": $flowContext('machines_data').MC01.UP_SV_03,\n       \"UP_SV_04\": $flowContext('machines_data').MC01.UP_SV_04,\n       \"UP_SV_05\": $flowContext('machines_data').MC01.UP_SV_05,\n       \"UP_SV_06\": $flowContext('machines_data').MC01.UP_SV_06,\n       \"UP_SV_07\": $flowContext('machines_data').MC01.UP_SV_07,\n       \"UP_SV_08\": $flowContext('machines_data').MC01.UP_SV_08\n   },\n   \"=== DOWN SV ===\": {\n       \"DOWN_SV_01\": $flowContext('machines_data').MC01.DOWN_SV_01,\n       \"DOWN_SV_02\": $flowContext('machines_data').MC01.DOWN_SV_02,\n       \"DOWN_SV_03\": $flowContext('machines_data').MC01.DOWN_SV_03,\n       \"DOWN_SV_04\": $flowContext('machines_data').MC01.DOWN_SV_04,\n       \"DOWN_SV_05\": $flowContext('machines_data').MC01.DOWN_SV_05,\n       \"DOWN_SV_06\": $flowContext('machines_data').MC01.DOWN_SV_06,\n       \"DOWN_SV_07\": $flowContext('machines_data').MC01.DOWN_SV_07,\n       \"DOWN_SV_08\": $flowContext('machines_data').MC01.DOWN_SV_08\n   },\n   \"=== SPEED ===\": {\n       \"UP_SPEED_PV\": $flowContext('machines_data').MC01.UP_SPEED_PV,\n       \"DOWN_SPEED_PV\": $flowContext('machines_data').MC01.DOWN_SPEED_PV,\n       \"UP_SPEED_SV\": $flowContext('machines_data').MC01.UP_SPEED_SV,\n       \"DOWN_SPEED_SV\": $flowContext('machines_data').MC01.DOWN_SPEED_SV\n   },\n   \"last_update\": $flowContext('machines_data').MC01.last_update\n}","targetType":"jsonata","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"modbus_client_localhost","type":"modbus-client","name":"Modbus_Slave_Localhost","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"host.docker.internal","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":3000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":true,"showWarnings":true,"showLogs":true},{"id":"522fe73325cf9223","type":"global-config","env":[],"modules":{"node-red-contrib-modbus":"5.45.2"}}]