Read_flows.json
[{"id":"d1b266b99579a7e2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a22db415a5b3762d","type":"inject","z":"d1b266b99579a7e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["4019d0829b940c7c"]]},{"id":"4019d0829b940c7c","type":"function","z":"d1b266b99579a7e2","name":"Build Batch Requests","func":"const machines = [\n    { id: \"MC01\", ip: \"172.70.66.195\" }, \n    { id: \"MC02\", ip: \"172.70.66.184\" },\n    { id: \"MC03\", ip: \"172.70.66.186\" }, \n    { id: \"MC04\", ip: \"172.70.66.188\" },\n    { id: \"MC05\", ip: \"172.70.66.190\" }, \n    { id: \"MC06\", ip: \"172.70.66.194\" },\n    { id: \"MC07\", ip: \"172.25.72.41\" },  \n    { id: \"MC08\", ip: \"172.25.72.43\" },\n    { id: \"MC09\", ip: \"172.25.72.45\" },  \n    { id: \"MC10\", ip: \"172.25.72.47\" }\n];\n\nconst readBatches = [\n    // PV Groups (Berurutan per blok)\n    { group: \"UP_PV_01_04\", start: 3010, count: 4, names: [\"UP_PV_01\", \"UP_PV_02\", \"UP_PV_03\", \"UP_PV_04\"] },\n    { group: \"UP_PV_05_08\", start: 3160, count: 4, names: [\"UP_PV_05\", \"UP_PV_06\", \"UP_PV_07\", \"UP_PV_08\"] },\n    { group: \"DOWN_PV_01_04\", start: 3310, count: 4, names: [\"DOWN_PV_01\", \"DOWN_PV_02\", \"DOWN_PV_03\", \"DOWN_PV_04\"] },\n    { group: \"DOWN_PV_05_08\", start: 3460, count: 4, names: [\"DOWN_PV_05\", \"DOWN_PV_06\", \"DOWN_PV_07\", \"DOWN_PV_08\"] },\n    { group: \"UP_SPEED_PV\", start: 5790, count: 1, names: [\"UP_SPEED_PV\"] },\n    { group: \"DOWN_SPEED_PV\", start: 5780, count: 1, names: [\"DOWN_SPEED_PV\"] },\n    \n    // SV Groups (18 Register tunggal karena melompat)\n    { group: \"UP_SV_01\", start: 6101, count: 1, names: [\"UP_SV_01\"] },\n    { group: \"UP_SV_02\", start: 6201, count: 1, names: [\"UP_SV_02\"] },\n    { group: \"UP_SV_03\", start: 6301, count: 1, names: [\"UP_SV_03\"] },\n    { group: \"UP_SV_04\", start: 6401, count: 1, names: [\"UP_SV_04\"] },\n    { group: \"UP_SV_05\", start: 6501, count: 1, names: [\"UP_SV_05\"] },\n    { group: \"UP_SV_06\", start: 6601, count: 1, names: [\"UP_SV_06\"] },\n    { group: \"UP_SV_07\", start: 6701, count: 1, names: [\"UP_SV_07\"] },\n    { group: \"UP_SV_08\", start: 6801, count: 1, names: [\"UP_SV_08\"] },\n    { group: \"DOWN_SV_01\", start: 6901, count: 1, names: [\"DOWN_SV_01\"] },\n    { group: \"DOWN_SV_02\", start: 7001, count: 1, names: [\"DOWN_SV_02\"] },\n    { group: \"DOWN_SV_03\", start: 7101, count: 1, names: [\"DOWN_SV_03\"] },\n    { group: \"DOWN_SV_04\", start: 7201, count: 1, names: [\"DOWN_SV_04\"] },\n    { group: \"DOWN_SV_05\", start: 7301, count: 1, names: [\"DOWN_SV_05\"] },\n    { group: \"DOWN_SV_06\", start: 7401, count: 1, names: [\"DOWN_SV_06\"] },\n    { group: \"DOWN_SV_07\", start: 7501, count: 1, names: [\"DOWN_SV_07\"] },\n    { group: \"DOWN_SV_08\", start: 7601, count: 1, names: [\"DOWN_SV_08\"] },\n    { group: \"UP_SPEED_SV\", start: 7800, count: 1, names: [\"UP_SPEED_SV\"] },\n    { group: \"DOWN_SPEED_SV\", start: 7700, count: 1, names: [\"DOWN_SPEED_SV\"] }\n];\n\nconst output = [];\nfor (const mc of machines) {\n    for (const batch of readBatches) {\n        output.push({\n            payload: {\n                fc: 3,\n                unitid: 1,\n                address: batch.start,\n                quantity: batch.count\n            },\n            modbusHost: mc.ip,\n            modbusPort: 502,\n            machineId: mc.id,\n            batchGroup: batch.group,\n            batchNames: batch.names\n        });\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["25b416c4f2ef9860"]]},{"id":"25b416c4f2ef9860","type":"split","z":"d1b266b99579a7e2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":550,"y":160,"wires":[["6ffa4d7c7ecf3623"]]},{"id":"6ffa4d7c7ecf3623","type":"delay","z":"d1b266b99579a7e2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":710,"y":160,"wires":[["fb2545f898e3b6ff"]]},{"id":"fb2545f898e3b6ff","type":"modbus-flex-getter","z":"d1b266b99579a7e2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"e6570a2b66bce1ec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":910,"y":220,"wires":[["975692dadb4fc7c0"],[]]},{"id":"975692dadb4fc7c0","type":"function","z":"d1b266b99579a7e2","name":"Parse & Scale","func":"const rawValues = msg.payload;\nconst names = msg.batchNames;\nconst machineId = msg.machineId;\n\nif (!names || !Array.isArray(names)) {\n    node.warn(`MC ${machineId || \"Unknown\"}: batchNames tidak ditemukan (Metadata hilang).`);\n    return null;\n}\n\nif (!Array.isArray(rawValues)) {\n    node.warn(`MC ${machineId || \"Unknown\"}: Payload dari Modbus bukan array.`);\n    return null;\n}\n\nfunction toInt16(val) {\n    return val > 32767 ? val - 65536 : val;\n}\n\nconst result = {};\nfor (let i = 0; i < names.length; i++) {\n    const raw = rawValues[i];\n    if (raw === undefined || raw === null) continue;\n    result[names[i]] = parseFloat((toInt16(raw) / 10).toFixed(1));\n}\n\nmsg.payload = {\n    machineId: machineId,\n    group: msg.batchGroup,\n    data: result,\n    ts: new Date().toISOString()\n};\n\nconst currentData = {\n    machineId: machineId,\n    group: msg.batchGroup,\n    data: result,\n    ts: new Date().toISOString()\n};\n\n// Ambil data database lokal Node-RED (jika belum ada, buat objek kosong)\nlet machineStore = flow.get(\"machines_data\") || {};\nif (!machineStore[machineId]) {\n    machineStore[machineId] = {};\n}\n\n// Gabungkan data batch yang baru masuk ke dalam database mesin terkait\nmachineStore[machineId] = Object.assign(machineStore[machineId], result);\nmachineStore[machineId].last_update = currentData.ts;\n\n// Simpan kembali ke dalam memori flow Node-RED\nflow.set(\"machines_data\", machineStore);\n\n// Teruskan data asli ke node berikutnya/debug\nmsg.payload = currentData;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":240,"wires":[["1d7843a4e65a1305"]]},{"id":"15e47a00f3fadf17","type":"inject","z":"d1b266b99579a7e2","name":"","props":[{"p":"payload"},{"p":"machineId","v":"MC01","vt":"str"},{"p":"batchGroup","v":"UP_PV_01_04","vt":"str"},{"p":"batchNames","v":"[\"UP_PV_01\", \"UP_PV_02\", \"UP_PV_03\", \"UP_PV_04\"]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[254, 262, 248, 250]","payloadType":"json","x":710,"y":400,"wires":[["975692dadb4fc7c0"]]},{"id":"1d7843a4e65a1305","type":"debug","z":"d1b266b99579a7e2","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":240,"wires":[]},{"id":"e6570a2b66bce1ec","type":"modbus-client","name":"IP_STC_NEWMC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"172.70.66.195","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"214293ac59da7ba7","type":"global-config","env":[],"modules":{"node-red-contrib-modbus":"5.45.2"}}]