Write_flows.json
[{"id":"b77219a567da8a47","type":"tab","label":"IPSTC_NewMC_Write","disabled":false,"info":"","env":[]},{"id":"df4ff4f8c63b35be","type":"http in","z":"b77219a567da8a47","name":"","url":"/write-sv","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":130,"y":260,"wires":[["7ab3c79df787bf2e"]]},{"id":"cc17ccb6d1b339e9","type":"inject","z":"b77219a567da8a47","name":"Simulator Kirim SV","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"machineId\": \"MC01\", \"variable\": \"UP_SV_01\", \"value\": 18.5 }","payloadType":"json","x":150,"y":420,"wires":[["7ab3c79df787bf2e"]]},{"id":"7ab3c79df787bf2e","type":"function","z":"b77219a567da8a47","name":"Prepare FC06","func":"let input;\nif (msg.req && msg.req.body) {\n    input = msg.req.body;\n    msg._fromHttp = true;\n} else {\n    input = msg.payload;\n    msg._fromHttp = false;\n}\n\n// Daftar IP Hardcoded untuk Pengujian Awal\nconst machineMap = {\n    \"MC01\": \"172.70.66.195\", \"MC02\": \"172.70.66.184\", \"MC03\": \"172.70.66.186\",\n    \"MC04\": \"172.70.66.188\", \"MC05\": \"172.70.66.190\", \"MC06\": \"172.70.66.194\",\n    \"MC07\": \"172.25.72.41\", \"MC08\": \"172.25.72.43\", \"MC09\": \"172.25.72.45\",\n    \"MC10\": \"172.25.72.47\"\n};\n\nconst svRegisterMap = {\n    \"UP_SV_01\": 6101, \"UP_SV_02\": 6201, \"UP_SV_03\": 6301, \"UP_SV_04\": 6401,\n    \"UP_SV_05\": 6501, \"UP_SV_06\": 6601, \"UP_SV_07\": 6701, \"UP_SV_08\": 6801,\n    \"DOWN_SV_01\": 6901, \"DOWN_SV_02\": 7001, \"DOWN_SV_03\": 7101, \"DOWN_SV_04\": 7201,\n    \"DOWN_SV_05\": 7301, \"DOWN_SV_06\": 7401, \"DOWN_SV_07\": 7501, \"DOWN_SV_08\": 7601,\n    \"UP_SPEED_SV\": 7800, \"DOWN_SPEED_SV\": 7700\n};\n\nconst { machineId, variable, value } = input;\n\nif (!machineId || !variable || value === undefined) {\n    node.error(\"Input tidak lengkap: butuh machineId, variable, value\");\n    msg._writeError = \"Input tidak lengkap\";\n    return msg;\n}\n\nconst targetIp = machineMap[machineId];\nif (!targetIp) {\n    node.error(`machineId tidak dikenal: ${machineId}`);\n    msg._writeError = `machineId tidak dikenal: ${machineId}`;\n    return msg;\n}\n\nconst registerAddress = svRegisterMap[variable];\nif (registerAddress === undefined) {\n    node.error(`Variabel bukan SV atau tidak dikenal: ${variable}`);\n    msg._writeError = `Hanya variabel SV yang bisa ditulis. '${variable}' tidak dikenal.`;\n    return msg;\n}\n\nconst numericValue = parseFloat(value);\nif (isNaN(numericValue)) {\n    node.error(`Nilai tidak valid: ${value}`);\n    msg._writeError = `Nilai tidak valid: ${value}`;\n    return msg;\n}\n\n// Penskalaan nilai desimal dikali 10 ke format Integer asli PLC\nconst rawWrite = Math.round(numericValue * 10);\n\nif (rawWrite < 0 || rawWrite > 9999) {\n    node.error(`Nilai di luar batas: ${numericValue}`);\n    msg._writeError = 'Nilai di luar batas yang diizinkan';\n    return msg;\n}\n\nmsg.payload = {\n    fc: 6,\n    unitid: 1,\n    address: registerAddress,\n    value: rawWrite\n};\n\nmsg.modbusHost = targetIp;\nmsg.modbusPort = 502;\n\n// Cadangkan metadata agar aman dari over-write node Modbus Write\nmsg._writeAddress = registerAddress;\nmsg._writeRawValue = rawWrite;\nmsg._writeMachineId = machineId;\nmsg._writeVariable = variable;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["e8d8493a6431f041","0c687e077dac44f7"]]},{"id":"e8d8493a6431f041","type":"modbus-flex-write","z":"b77219a567da8a47","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"e6570a2b66bce1ec","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":550,"y":260,"wires":[["d83a1831d8e9e389"],[]]},{"id":"d83a1831d8e9e389","type":"function","z":"b77219a567da8a47","name":"HTTP Response 200","func":"if (msg._fromHttp) {\n    msg.statusCode = 200;\n    msg.payload = {\n        success: true,\n        message: \"Write Modbus ke PLC berhasil\",\n        targetIp: msg.modbusHost,\n        machineId: msg._writeMachineId,\n        variable: msg._writeVariable,\n        address: msg._writeAddress,\n        rawValue: msg._writeRawValue\n    };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":260,"wires":[["d0bf8c89a05418e8"]]},{"id":"f1fe349ec77968c8","type":"catch","z":"b77219a567da8a47","name":"","scope":["e8d8493a6431f041"],"uncaught":false,"x":590,"y":380,"wires":[["031e276eea2de4f0"]]},{"id":"031e276eea2de4f0","type":"function","z":"b77219a567da8a47","name":"HTTP Response 400/500","func":"let errorMessage = msg.error ? msg.error.message : (msg._writeError || \"Modbus Timeout/Connection Error\");\n\nif (msg._fromHttp) {\n    msg.statusCode = 500;\n    msg.payload = {\n        success: false,\n        message: \"Gagal menulis ke PLC: \" + errorMessage,\n        machineId: msg._writeMachineId || \"Unknown\"\n    };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":380,"wires":[["d0bf8c89a05418e8"]]},{"id":"d0bf8c89a05418e8","type":"http response","z":"b77219a567da8a47","name":"","statusCode":"","headers":{},"x":1010,"y":320,"wires":[]},{"id":"0c687e077dac44f7","type":"debug","z":"b77219a567da8a47","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":480,"wires":[]},{"id":"e6570a2b66bce1ec","type":"modbus-client","name":"IP_STC_NEWMC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"172.70.66.195","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"02a3f87a309c3cd3","type":"global-config","env":[],"modules":{"node-red-contrib-modbus":"5.45.2"}}]